<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>kalyah</title>

		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/add_password.css">
	</head>
	<body>
		<ul class="nav">
			<li class="nav_li">password manager</li>
			<li class="nav_li"><a href="/passwords">all passwords</a></li>
			<li class="nav_li">{{err_msg}}</li>
			<li class="logout"><a href="/logout">logout</a></li>
		</ul>

	<div class="container">
		<form action="/passwords/create" method="post">
			<ul class="fields">
				<li>
					<label for="url">Login URL</label>
					<input type="text" id="url" name="url" required>
				</li>
				<li>
					<label for="u">Username for this login</label>
					<input type="text" id="u" name="username" required>
				</li>
				<li>
					<label for="p">Password for this login</label>
					<input type="text" id="p" name="password" required>
				</li>
				<li>
					<p class="ta">
						<label for="notes">Additional notes</label>
						<textarea id="notes" rows="2" maxlength="200" name="notes"></textarea>
					</p>
				</li>
				<li>
					<button type="submit" class="btn">Submit</button>
				</li>
			</ul>
		</form>
	</div>
	</body>
</html>

