<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>kalyah</title>
		<link rel="stylesheet" href="/css/index.css">
	</head>

	<body>
		<div id="container">
			<h1>password manager</h1>
		
			<a onclick="clickhandler(event)">login</a>
		</div>

		<script src="/js/jf.js"></script>
	</body>
</html>
