<!DOCTYPE html>

<html>
	<head>
		<title>Kalyah</title>
	</head>

	<body>
		<p>A more perfect applicant tracking system</p>
		<!-- the button is necessary for jalfry to open -->
		<button onclick="clickhandler(event)">login with jalfry</button>

		<script src="/js/jf.js"></script>
	</body>
</html>
