.container {
	margin-left: 15px;
}

.fields {
	list-style-type: none;
	padding: 0;
}

.fields li {
	margin-bottom: 15px;
}

.ta * {
	vertical-align: top;
}

.ta textarea {
	font-family: sans-serif;
}

#additional_notes {
	width: 200px;
}
